# This is a basic workflow to help you get started with Actions

name: CI
env:
      Variable_level_Pipe : PipeLevel
  
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  
  My_testing:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      Variable_level_job : JOBLEVEL
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: Print message
        run: echo "Test"

      - name: Clone repo
        uses: actions/checkout@v1

      - name: list folder
        run: ls -la


  My_Deploy:
      # The type of runner that the job will run on
      runs-on: ubuntu-latest
      needs : [My_testing]
      # Steps represent a sequence of tasks that will be executed as part of the job
      steps:
        # Runs a single command using the runners shell
        - name: Print message
          run: |
              echo "111111"
              echo "22222"
              echo "3333"

        - name: Variable output
            run: |
              echo "${{env.Variable_level_Pipe}}"
              echo "${{env.Variable_level_job}}"


